body{
    background-color : rgb(44, 40, 136);

}


}
#redRGB{
    color: red;
    background-color: #008b8b;
}

  


 


.stile_text{
    color: red;
    background-color: hotpink;
}
.ssili{
    color: black;
    background-color: rgb(40, 40, 136);
  
}
.stille_2{
    color: black;
    background-color:red;

}
